<div ng-controller="MainCtrl">
<h2> Main View: {{ status }} </h2>

<table class="table">
<tr>
    <td><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="getLocation()">Take Picture</button></td>
    <td><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="getLocation()">Take Video</button></td>
</tr>
<tr>
    <td><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="getLocation()">Take Audio</button></td>
    <td><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="getLocation()">Take Note</button></td>
</tr>
</table>