.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
/* IE10 Consumer Preview */

#bg {
    background: url(../img/crowd.jpg) no-repeat center center fixed;
    /*background: url(link to image) no-repeat;
*/
    
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.3;
}
.panel-heading {
    padding: 5px 15px;
}
.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}
.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

